<head>
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-2.9.0.min.js'></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="./Scripts/3DPath.js"></script>
</head>

<body>
    <div id='myDiv'>
        <!-- Plotly chart will be drawn inside this DIV -->
    </div>
</body>



<script src="./Scripts/3DPath.js"></script>