<div class="dragBar">
    <button class="closeWidgetButton"></button>
</div>
<div class="center">
    <input type="color" id="graphColor" value="#00ffff"></input>
</div>
<div id="eventList"></div>
<!-- <button id="saveEvents">Save</button> -->