<div class="dragBar">
    <button class="closeWidgetButton"></button>
</div>
<div class="center">

</div>

<label for="cars">Choose graphs to add:</label>

<ul class="dropdown">
    <li>
        <div>Physiological</div>
        <ul>
            <li>
                <div class="Voice">Voice</div>
                <ul id="Voice">
                </ul>
            </li>
            <li>
                <div class="Empatica">Empatica E4</div>
                <ul id="Empatica">
                </ul>
            </li>
            <li>
                <div class="Webcam">Webcam</div>
                <ul id="Webcam">

                </ul>
            </li>
        </ul>
    </li>
    <li id="space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li>
        <div>Environmental</div>
        <ul>
            <li>
                <div class="Personal">Personal</div>
                <ul id="Personal">
                </ul>
            </li>
            <li>
                <div class="Trip">Trip</div>
                <ul id="Trip">
                </ul>
            </li>
            <li>
                <div class="Road">Road</div>
                <ul id="Road">
                </ul>
            </li>
            <li>
                <div class="Infrastructure">Infrastructure</div>
                <ul id="Infrastructure">
                </ul>
            </li>
            <li>
                <div class="Traffic">Traffic</div>
                <ul id="Traffic">
                </ul>
            </li>
            <li>
                <div class="Time">Time</div>
                <ul id="Time">
                </ul>
            </li>
            <li>
                <div class="Weather">Weather</div>
                <ul id="Weather">
                </ul>
            </li>
            <li>
                <div class="Location">Location</div>
                <ul id="Location">
                </ul>
            </li>
            <li>
                <div class="CANData">CAN Data</div>
                <ul id="CANData">
                </ul>
            </li>
            <li>
                <div class="OBD2LoggerData">OBD2 Logger Data</div>
                <ul id="OBD2LoggerData">
                </ul>
            </li>
        </ul>
    </li>
</ul>
<div id="addList"></div>

<button id="saveGraphs">Save</button>