<div>
    <div id="graphContainerAll" style="grid-template-columns: 1fr">
        <div class="dropzoneLeft dropzone"></div>
        <div id="graphContainer_0" class="graphContainer" style="grid-template-columns: 1fr">
            <div class="deleteContainer"></div>

            <div class="dropzoneRight dropzone"></div>
            <div id="dotMenu" clickedcontainer="">
                <button class="dotMenuItem" id="fixGraph" onclick="pinGraph()">Pin Graph</button>
                <button class="dotMenuItem" id="doItem2" onclick="deleteThisGraph()">Delete</button>
                <button class="dotMenuItem" id="doItem2" onclick="">+</button>
            </div>
        </div>
    </div>
    <div id="graphContainerFixed" style="grid-template-columns: 1fr"></div>
    <div id="eventlineContainer" style="grid-template-columns: 1fr"></div>
    <div id="buttonslider2"></div>
    <div id="eventLabel">Annotations</div>
    <div id="timelineContainer" style="grid-template-columns: 1fr"></div>
    <div id="timeLabel">Time</div>
    <div id="eventText"></div>
</div>