<!-- <script src="./Scripts/gridStack.js"></script>
<script src="./Scripts/dropdown.js"></script>
<script src="./Scripts/eventScript.js"></script>
<script src="./Scripts/3DPath.js"></script>
<script src="./Scripts/timeline.js"></script>
<script src="./Scripts/pinning.js"></script>
<script src="./Scripts/dragAndDrop.js"></script>
<script src="./Scripts/menuBar.js"></script>
<script src="./Scripts/script.js"></script>
<script src="./Scripts/unitymanager.js"></script> -->

<div id="inputForCustomEvents">
    <button id="closeAddEvent" onclick="closeCustomEventInput()"></button>
    <input type=" text" id="customEventText" value="Custom Event">
    <button id="addEvent" onclick="addToCustomEvent()">Add Custom Event</button>
</div>

<div id="dotMenu" clickedcontainer="">
    <button class="dotMenuItem" id="fixGraph" onclick="pinGraph()">Pin Graph</button>
    <button class="dotMenuItem" id="doItem2" onclick="deleteThisGraph()">Delete</button>
</div>

<div class="grid-stack" id="gridAll">

    <!-- <div id="dropzoneAll" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="hideDropzone(event)">
</div>
<div id="dropzoneLeft" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="hideDropzone(event)">
</div>
<div id="dropzoneRight" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="hideDropzone(event)">
</div> -->
    <!-- <div class="dropzoneHighlight" id="dropzoneHighlightRight"></div> -->
    <div class="grid-stack-item" id="lineGraphs" gs-w="8" gs-h="10" gs-x="1" gs-y="0" style="display:block">

        <div class="grid-stack-item-content">

            <div class="singleGridItemContent" id="allGraphs">
                <div class="dragBar">
                    <div class="dragbarHeadingContainer">
                        <div id="DragbarIcon2d" class="iconUnity"></div>
                        <div class="heading boldText">2D View</div>
                    </div>
                    <div>
                        <!-- <button class="buttonDragbar" id="button7">.</button>
                        <button class="buttonDragbar" id="button8">.</button> -->
                    </div>
                    <div>
                        <button class="pageLock"></button>
                        <button class="lockWidgetButton"></button>
                        <button class="closeWidgetButton"></button>
                    </div>

                </div>
                <div id="graphContainerAll" style="grid-template-columns: 1fr">

                    <div class="dropzoneLeft dropzone"></div>
                    <div id="graphContainer_0" class="graphContainer" style="grid-template-columns: 1fr">
                        <div class="deleteContainer" id="startDeleteContainer"></div>
                        <!-- <input type="text" value="" class="textInputGraphContainer"></input> -->
                        <div class="dropzoneRight dropzone"></div>
                    </div>

                </div>
                <div id="graphContainerFixed" style="grid-template-columns: 1fr"></div>
                <div id="eventlineContainer" style="grid-template-columns: 1fr"></div>
                <div id="timelineContainer" style="grid-template-columns: 1fr"></div>
                <!-- <div id="eventText"></div> -->
            </div>
        </div>
    </div>

    <div class="grid-stack-item" id="3dView" gs-w="8" gs-h="10" gs-x="9" gs-y="0" style="display:block">
        <div class="grid-stack-item-content">
            <div class="singleGridItemContent" id="itemContent3d">
                <div class="dragBar">
                    <div class="dragbarHeadingContainer">
                        <div id="DragbarIcon3d" class="iconUnity"></div>
                        <div class="heading boldText">3D View</div>
                    </div>
                    <select id="options3d">
                        <option value="all">All Objects</option>
                    </select>
                    <div>
                        <button class="pageLock"></button>
                        <button class="lockWidgetButton"></button>
                        <button class="closeWidgetButton"></button>
                    </div>
                    <!-- <div class="dropbar3d">
                        <select id="viewoptions3d" onchange="change3d(this)">
                            <option value="scatter3d lines" mode="lines">scatter3d lines</option>
                            <option value="scatter3d markers" mode="markers">scatter3d markers</option>
                            <option value="mesh3d lines" mode="lines">mesh3d</option>
                        </select>
                    </div> -->
                </div>
                <iframe id="webGlContentDiv"></iframe>
                <button id="toggleVR" onclick="togglePostGet(this)" data-mode="post" title="switch to VR"></button>
                <!-- <div id="webGlContentDiv"></div> -->
                <!-- <iframe id="webGlContentDiv" src="./WebGL/index.html"></iframe> -->
                <!-- <div id='myDiv'></div> -->
            </div>
        </div>
    </div>
    <div class="grid-stack-item" id="meta" gs-w="4" gs-h="10" gs-x="17" gs-y="0" style="display:block">
        <div class="grid-stack-item-content">
            <div class="singleGridItemContent">
                <div class="dragBar">
                    <div class="dragbarHeadingContainer">
                        <div id="inspectorDragbarIcon" class="iconUnity"></div>
                        <div class="heading boldText">Inspector</div>
                    </div>
                    <select id="optionsMeta" onchange="onChangeMeta(this.value)">
                        <option value="personal0">Participant1</option>
                        <option value="personal1">Participant2</option>
                        <option value="personal2">Participant3</option>
                    </select>
                    <div>
                        <button class="pageLock"></button>
                        <button class="lockWidgetButton"></button>
                        <button class="closeWidgetButton"></button>
                    </div>
                </div>
                <div class="sideContent">
                    <div class="center">
                        <!-- <input type="color" id="graphColor" value="#00ffff"></input> -->
                    </div>
                    <div class="metaContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-stack-item" id="settings" gs-w="3" gs-h="10" gs-x="21" gs-y="0" style="display:block">
        <div class="grid-stack-item-content">

            <div class="singleGridItemContent eventssettingssingle">
                <div class="dragBar">
                    <div class="dragbarHeadingContainer">
                        <div id="overviewDragbarIcon" class="iconUnity"></div>
                        <div class="heading boldText">Overview</div>
                    </div>
                    <!-- <select id="optionsSettings">
                        <option value="all">All Participants</option>
                    </select> -->
                    <div>
                        <button class="pageLock"></button>
                        <button class="lockWidgetButton"></button>
                        <button class="closeWidgetButton"></button>
                    </div>
                </div>
                <h3 class="settingsHeading" onclick="toggleContext(this)">List of Objects in 3D Scene</h3>
                <div class="listOfObjects">

                </div>
                <h3 class="settingsHeading" onclick="toggleContext(this)">Events</h3>
                <div id="eventList"></div>
                <h3 class="settingsHeading" onclick="toggleContext(this)">Avatar</h3>
                <div id="participantSelection">
                    <div id="driver" class="participant">
                        <input type="checkbox" name="userCheckbox" checked="true"
                            onchange="toggleDrivers(this)"></input>
                        <span onclick="changeMainParticipant(this)">Driver</span>
                    </div>
                    <div id="passenger" class="participant">
                        <input type="checkbox" name="userCheckbox" checked="true"
                            onchange="togglePassengers(this)"></input>
                        <span onclick="changeMainParticipant(this)">Passenger</span>
                    </div>
                </div>
                <h3 class="settingsHeading" onclick="toggleContext(this)">Trajectory</h3>
                <div id="trajectorylist">
                    <div id="trajectoryhead" class="heatmapItem">
                        <input type="checkbox" name="heatmapCheckbox" checked="true"
                            onchange="trajectoryControll(this)"></input>
                        <span>Head</span>
                        <!-- <input type="color" class="graphColor" id="graphColor1" value="#00ffff"
                            onchange="changeColorOfGraph(this)"></input> -->
                    </div>
                    <div id="trajectoryrighthand" class="heatmapItem">
                        <input type="checkbox" name="heatmapCheckbox" checked="true"
                            onchange="trajectoryControll(this)"></input>
                        <span>Left Hand</span>
                        <!-- <input type="color" class="graphColor" id="graphColor1" value="#00ffff"
                            onchange="changeColorOfGraph(this)"></input> -->
                    </div>
                    <div id="trajectorylefthand" class="heatmapItem">
                        <input type="checkbox" name="heatmapCheckbox" checked="true"
                            onchange="trajectoryControll(this)"></input>
                        <span>Right Hand</span>
                        <!-- <input type="color" class="graphColor" id="graphColor1" value="#00ffff"
                            onchange="changeColorOfGraph(this)"></input> -->
                    </div>
                </div>
                <h3 class="settingsHeading" onclick="toggleContext(this)">Heatmaps</h3>
                <div id="heatmapList">
                    <div id="Interior" class="heatmapItem">
                        <input type="checkbox" name="heatmapCheckbox" checked="true"
                            onchange="heatmapControll(this)"></input>
                        <span>Interior</span>
                        <!-- <input type="color" class="graphColor" id="graphColor1" value="#00ffff"
                            onchange="changeColorOfGraph(this)"></input> -->
                    </div>
                    <div id="InteriorSteeringWheel" class="heatmapItem">
                        <input type="checkbox" name="heatmapCheckbox" checked="true"
                            onchange="heatmapControll(this)"></input>
                        <span>Interior SteeringWheel</span>
                        <!-- <input type="color" class="graphColor" id="graphColor1" value="#00ffff"
                            onchange="changeColorOfGraph(this)"></input> -->
                    </div>
                    <div id="InteriorDisplay" class="heatmapItem">
                        <input type="checkbox" name="heatmapCheckbox" checked="true"
                            onchange="heatmapControll(this)"></input>
                        <span>Interior Display</span>
                        <!-- <input type="color" class="graphColor" id="graphColor1" value="#00ffff"
                            onchange="changeColorOfGraph(this)"></input> -->
                    </div>
                    <div id="InteriorWindows" class="heatmapItem">
                        <input type="checkbox" name="heatmapCheckbox" checked="true"
                            onchange="heatmapControll(this)"></input>
                        <span>Interior Windows</span>
                        <!-- <input type="color" class="graphColor" id="graphColor1" value="#00ffff"
                            onchange="changeColorOfGraph(this)"></input> -->
                    </div>
                    <div id="ExteriorBuildings" class="heatmapItem">
                        <input type="checkbox" name="heatmapCheckbox" checked="true"
                            onchange="heatmapControll(this)"></input>
                        <span>Exterior Buildings</span>
                    </div>
                    <div id="ExteriorWindows" class="heatmapItem">
                        <input type="checkbox" name="heatmapCheckbox" checked="true"
                            onchange="heatmapControll(this)"></input>
                        <span>Exterior Street</span>
                    </div>
                </div>
                <h3 class="settingsHeading" onclick="toggleContext(this)">2D View</h3>
                <div>
                    <div id="showMeanContainer">
                        <input type="checkbox" name="showMean" id="showMean" checked="true" onchange="toggleMean(this)">
                        <div id="meanColor"></div>
                        <span id="showMeanlabel">Display Mean</span>
                    </div>
                    <div id="showOutlierContainer">
                        <input type="checkbox" name="showOutlier" id="showOutlier" checked="true"
                            onchange="toggleOutlier(this)">
                        <div id="outlierColor"></div>
                        <span id="showOutlierlabel">Display Outlier</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" id="video" gs-w="4" gs-h="3" gs-x="20" gs-y="0" style="display:block">
            <div class="grid-stack-item-content">
                <div class="singleGridItemContent">
                    <div class="dragBar">
                        <div class="dragbarHeadingContainer">
                            <div id="videoDragbarIcon" class="iconUnity"></div>
                            <div class="heading boldText">Video</div>
                        </div>
                        <div>
                            <button class="pageLock"></button>
                            <button class="lockWidgetButton"></button>
                            <button class="closeWidgetButton"></button>
                        </div>
                    </div>
                    <div class="videoContainer">
                        <video id="videoFrame" src="./Videos/Video - Part1.mp4" onplaying="onPlay()"
                            onpause="onPaused()"></video>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="grid-stack-item" id="eventView" gs-w="23" gs-h="1" style="display:none">
        <div class="grid-stack-item-content">

            <div class="singleGridItemContent" id="eventChangeSize">
                <div class="dragBar">
                    <button class="pageLock"></button>
                    <button class="lockWidgetButton"></button>
                    <button class="closeWidgetButton"></button>
                    <div class="heading boldText">Eventline</div>
                </div>
                <div id="eventViewContainer" style="grid-template-columns: 1fr"></div>
            </div>
            <div class="iconGraph iconEventView"></div>
        </div>
    </div> -->
        <div class="grid-stack-item" id="timelineView" gs-w="23" gs-h="1" style="display:block">
            <div class="grid-stack-item-content" id="innerTimeLineView">

                <div class="singleGridItemContent">
                    <div class="dragBar">
                        <div class="dragbarHeadingContainer">
                            <div id="timelineDragbarIcon" class="iconUnity"></div>
                            <div class="heading boldText">Timeline</div>
                        </div>
                        <div id="timelineText">0:00:00</div>
                        <div id="timelineZoomButtons">
                            <button class="buttonDragbar" id="button7" title="Zoom Selected Area">.</button>
                            <button class="buttonDragbar" id="button8" title="Zoom Out">.</button>
                        </div>

                        <!-- <div class="iconUnity" title="Change Time to AM/PM and vice versa" id="changeTime"
                            onclick="toggleTime()"></div> -->
                        <div id="customEventButtons">
                            <div id="addCustomEvent" title="Add Custom Event" onclick="displayInputFieldButton()">
                            </div>
                            <div id="removeCustomEvent" title="Remove Selected Custom Event" onclick="removeCustomEvent()">
                            </div>
                        </div>
                        <div id="handleUnityActions">
                            <div id="handleTimeUnity">
                                <div id="lastFrameUnity" title="Previous Frame" class="iconUnity"
                                    onclick="prevFrameUnity()"></div>
                                <div id="" title="Play/Pause" class="iconUnity playUnity" onclick="playUnity(this)">
                                </div>
                                <div id="fastforwardUnity" title="Fast Forward" class="iconUnity"
                                    onclick="fastforwardUnity()"></div>
                                <div id="nextFrameUnity" title="Next Frame" class="iconUnity"
                                    onclick="nextFrameUnity()">
                                </div>
                            </div>
                            <div id="handleCamsUnity">
                                <div id="lastCamUnity" title="Previous Camera" class="iconUnity"
                                    onclick="prevCamUnity()">
                                </div>
                                <div id="currentCamUnityText" class="iconUnity">Free Cam</div>
                                <div id="nextCamUnity" title="Next Camera" class="iconUnity" onclick="nextCamUnity()">
                                </div>
                                <div id="sliceCar" title="Slice Car" class="iconUnity" onclick="sliceCar()"></div>
                            </div>
                        </div>
                        <div class="syncButtons">
                            <!-- <div id="sendToVR" onclick="sendDataToVR()" title="Click bevore switching to VR."></div>
                            <div id="updateFromServer" onclick="getDataFromVR()" title="Click after switching from VR."></div> -->
                        </div>
                        <div>
                            <button class="pageLock"></button>
                            <button class="lockWidgetButton"></button>
                            <button class="closeWidgetButton"></button>
                        </div>
                    </div>
                    <div id="timelineViewContainer"></div>
                    <div id="eventAllContainerTogether">

                        <div id="customEvents"></div>
                        <div id="audioEvents">
                            <svg id="audioEventsLine" class="eventlineView"></svg>
                        </div>
                        <div class="eventViewContainer" id="eventViewContainer0"></div>
                        <div class="eventViewContainer" id="eventViewContainer1"></div>
                        <div class="eventViewContainer" id="eventViewContainer2"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="grid-stack-item" id="sidebarleft" gs-w="1" gs-h="12" gs-x="0" gs-y="0" gs-locked="true"
        gs-no-resize="false" gs-no-move="false">
        <div class="grid-stack-item-content" id="sidebar">
            <div class="singleGridItemContent">
                <div class="dragBar">
                    <div></div>
                    <button class="pageLock"></button>
                    <button class="lockWidgetButton"></button>
                </div>
                <div class="grid-stack" id="sidebarIcons">
</div>

<div class="grid-stack-item" gs-w="1" gs-h="1" gs-x="0" gs-y="0" gs-no-resize="true">
    <div class="grid-stack-item-content">
        <div id="icon1" class="iconDrag"></div>
    </div>
</div>
<div class="grid-stack-item" gs-w="1" gs-h="1" gs-x="0" gs-y="1" gs-no-resize="true">
    <div class="grid-stack-item-content">
        <div id="icon2" class="iconDrag"></div>
    </div>
</div>
</div>
</div>

</div> -->
    </div>
</div>