<div class="center">
    <input type="color" id="graphColor" value=""></input>
</div>
<div class="metaContainer">
    <div class="metaNames">
        <div class="metatext boldText">Gender:</div>
        <div class="metatext boldText">Age:</div>
        <div class="metatext boldText">Ethnicity:</div>
        <div class="metatext boldText">Education:</div>
        <div class="metatext boldText">Marital-Status:</div>
        <div class="metatext boldText">Employment:</div>
        <div class="metatext boldText">Employment-Location:</div>
        <div class="metatext boldText">Language:</div>
        <div class="metatext boldText">Home-Location:</div>
    </div>
    <div class="metaValues">
        <div class="metatext" id="Gender"></div>
        <div class="metatext" id="Age"></div>
        <div class="metatext" id="Ethnicity"></div>
        <div class="metatext" id="Education"></div>
        <div class="metatext" id="Marital-Status"></div>
        <div class="metatext" id="Employment"></div>
        <div class="metatext" id="Employment-Location"></div>
        <div class="metatext" id="Language"></div>
        <div class="metatext" id="Home-Location"></div>
    </div>
</div>