:root {
  --background: white;
  --elementBasic: #d1d1d1;
  --elementBright-1: #e0e0e0;
  --elementBright-2: #ececec;
  --highlightRed: #880000;
  --highlightBlue: steelblue;
  --timelineColor: #d1d1d1;
  --graph1: rgb(0, 35, 151);
  --graph2: rgb(0, 131, 0);
  --graph3: rgb(145, 0, 0);
  --timeText: black;
  --inputText: black;
  --font: black;
  --close: url("./resources/close.png");
  --page_unlock: url("./resources/page_unlocked.png");
  --pageLocked: url("./resources/page_locked.png");
  --more: url("./resources/more.png");
  --lupeZoomIn: url("./resources/LupeZoomIn.png");
  --lupeZoomOut: url("./resources/LupeZoomOut.png");
  --gridLockOpen: url("./resources/grid-lock-open.png");
  --gridLockClose: url("./resources/grid-lock-closed.png");
  --next: url("./resources/next.png");
  --previous: url("./resources/previous.png");
  --nextCam: url("./resources/nextCamera.png");
  --previousCam: url("./resources/prevCamera.png");
  --play: url("./resources/play.png");
  --pause: url("./resources/pause.png");
  --fastforward: url("./resources/fastforward.png");
  --sliceCar: url("./resources/sliceCar.png");
  --changetime: url("./resources/clock.png");
  --pentagon: url("./resources/pentagon.png");
  --star: url("./resources/star.png");
  --triangle: url("./resources/triangle.png");
  --rhomb: url("./resources/rhomb.png");
  --circle: url("./resources/circle.png");
  --heart: url("./resources/heart.png");
  --darkmodeicon: url("./resources/sun.png");
  --inspector: url("./resources/user.png");
  --overview: url("./resources/eventsettings.png");
  --video: url("./resources/youtube.png");
  --participant: url("./resources/Participant.png");
  --plus: url("./resources/plus.png");
  --minus: url("./resources/minus.png");
  --annotation: url("./resources/annotation.png");
  --icon2d: url("./resources/graph_light.png");
  --icon3d: url("./resources/graph3d_light.png");
  --icontimeline: url("./resources/time_light.png");
  --crown: url("./resources/crown.png");
  --crownSelected: url("./resources/crown_selected.png");
  --speaker: url("./resources/volume_dark.png");
  --mute: url("./resources/mute_dark.png");
  --audioColor: rgb(185, 111, 0);
}

:root.dark-mode {
  --background: #232323;
  --elementBasic: #2b2b2b;
  --elementBright-1: #383838;
  --elementBright-2: #424242;
  --elementBright-3: #868686;
  --highlightRed: #880000;
  --highlightBlue: steelblue;
  --timelineColor: #676767;
  --graph1: #00ffff;
  --graph2: rgb(0, 255, 0);
  --graph3: red;
  --timeText: black;
  --inputText: #d8d8d8;
  --font: #D3D3D3;
  --close: url("./resources/close_dark.png");
  --page_unlock: url("./resources/page_unlocked_dark.png");
  --pageLocked: url("./resources/page_locked_dark.png");
  --more: url("./resources/more_dark.png");
  --lupeZoomIn: url("./resources/LupeZoomIn_dark.png");
  --lupeZoomOut: url("./resources/LupeZoomOut_dark.png");
  --gridLockOpen: url("./resources/grid-lock-open_dark.png");
  --gridLockClose: url("./resources/grid-lock-closed_dark.png");
  --next: url("./resources/next_dark.png");
  --previous: url("./resources/previous_dark.png");
  --nextCam: url("./resources/nextCamera_dark.png");
  --previousCam: url("./resources/prevCamera_dark.png");
  --play: url("./resources/play_dark2.png");
  --pause: url("./resources/pause_dark2.png");
  --fastforward: url("./resources/fastforward_dark2.png");
  --sliceCar: url("./resources/sliceCar_dark.png");
  --changetime: url("./resources/clock_dark.png");
  --pentagon: url("./resources/pentagon_dark.png");
  --star: url("./resources/star_dark.png");
  --triangle: url("./resources/triangle_dark.png");
  --rhomb: url("./resources/rhomb_dark.png");
  --circle: url("./resources/circle_dark.png");
  --heart: url("./resources/heart_dark.png");
  --darkmodeicon: url("./resources/moon.png");
  --inspector: url("./resources/user_dark.png");
  --overview: url("./resources/eventsettings_dark.png");
  --video: url("./resources/youtube_dark.png");
  --participant: url("./resources/Participant_dark.png");
  --plus: url("./resources/plus_dark.png");
  --minus: url("./resources/minus_dark.png");
  --annotation: url("./resources/annotation_dark.png");
  --icon2d: url("./resources/graph_dark.png");
  --icon3d: url("./resources/graph3d_dark.png");
  --icontimeline: url("./resources/time_dark.png");
  --crown: url("./resources/crown_dark.png");
  --speaker: url("./resources/volume_dark.png");
  --mute: url("./resources/mute_dark.png");
  --audioColor: rgb(255, 153, 0);
}

html {
  font-family: "Roboto", sans-serif;
  color: var(--font);
  user-select: none;
  -webkit-user-select: none;
}

body {
  margin: 0;
  background-color: var(--background);
  overflow-y: scroll;
}

.mediumText {
  font-weight: 500;
}

.boldText {
  font-weight: 700;
}

.iconUnity {
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.topBar {
  display: none;
  position: -webkit-sticky;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: var(--elementBasic);
  top: 0;

  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  -webkit-box-shadow: 0px 0px 3px 0px black;
  box-shadow: 0px 0px 3px 0px black;
  justify-content: space-between;
  z-index: 100;
}

.menuButton {
  height: 40px;
  width: 100px;
  text-align: center;
  line-height: 40px;
  margin-left: 5px;
  background-color: var(--elementBright-1);
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border-radius: 10px 10px 10px 10px;
  color: var(--font);
}

.menuButton:hover {
  background-color: var(--highlightBlue);
}

.buttonDragbar {
  background-color: var(--elementBright-2);
  border: none;
  width: 25px;
  height: 100%;
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#button7 {
  background-image: var(--lupeZoomIn);
  /* display: none; */
}

#button8 {
  background-image: var(--lupeZoomOut);
  /* display: none; */
}

.graphContainer {
  position: relative;
  display: grid;
  place-items: center;
  align-items: start;
  justify-content: start;
  align-content: start;
  padding-bottom: 10px;
  background-color: var(--elementBasic);
  /* height: auto; */
  min-height: 100vh;
}


.graphContainerHighlited {
  border: solid 4px var(--highlightRed);
}

/* .deleteContainer:hover+.graphContainer {
  border: solid 4px red;
} */

#graphContainerVertical {
  display: flex;
  gap: 50px;
  place-items: center;
  justify-content: stretch;
  margin-left: 165px;
  height: 100%;
  overflow-x: scroll;
}

#graphContainerFixed {
  position: sticky;
  bottom: 80px;
  width: 100%;
  display: grid;
  place-items: center;
  justify-content: stretch;
  padding-bottom: 10px;
  pointer-events: none;
  z-index: 100;
}

.demoGraph {
  width: 100%;
  overflow-x: scroll;
}

demoGraph g {

}

/* .demoGraphVertical {
  width: 100%;
} */

.demoGraphDiv {
  height: 300px;
  width: 100%;
  background-color: var(--elementBright-1);
  -webkit-box-shadow: 0px 0px 6px 0px black;
  box-shadow: 0px 0px 6px 0px black;
  display: flex;
  margin-top: 20px;
  gap: 0px;
  pointer-events: auto;
}

.demoGraphDivVertical {
  width: 200px;
  background-color: var(--elementBasic);
  -webkit-box-shadow: 2px 2px 10px 0px black;
  box-shadow: 2px 2px 10px 0px black;
  display: flex;
  margin-top: 60px;
  gap: 0px;
  pointer-events: auto;
}

.more {
  margin-top: 7px;
  margin-right: 2px;
  height: 17px;
  width: 17px;
  background-image: var(--more);
  background-size: cover;
  /* order: 2; */
}

.fixed {
  background-color: var(--elementBright-1);
}

#timelineContainer {
  display: grid;
  justify-content: stretch;
  position: sticky;
  bottom: 0px;
  width: 100%;
  height: 25px;
  background-color: var(--timelineColor);
  order: 2;
  color: #ffffff;
  z-index: 50;
  overflow: hidden;
  cursor: crosshair;
  /* grid-template-rows: 50% 1fr; */
}

#timelineContainerVertical {
  justify-content: stretch;
  position: fixed;
  top: 0px;
  width: 70px;
  height: 100%;
  background-color: var(--timelineColor);
  order: 2;
  z-index: 50;
  color: white;
}

#eventlineContainer {
  display: grid;
  /* justify-content: stretch; */
  position: sticky;
  bottom: 25px;
  width: 100%;
  height: 50px;
  background-color: var(--elementBright-2);
  order: 2;
  z-index: 50;
  overflow: hidden;
  /* grid-template-rows: 50% 1fr; */
}

#eventlineContainerVertical {
  justify-content: stretch;
  position: fixed;
  left: 70px;
  top: 0px;
  width: 50px;
  height: 100%;
  background-color: var(--elementBright-1);
  order: 2;
  z-index: 50;
}

.eventViewContainer {
  margin-top: 20px;
  height: 20%;
  width: auto;
  /* height: 100%; */
  cursor: pointer;
}

#eventViewContainer0 {
  margin-top: 0px;
}

#eventAllContainerTogether {
  margin-top: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 75px);
}

#eventChangeSize {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  width: auto;
  height: 100%;
}


.timeline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  color: var(--timeText);
  overflow-x: hidden;
}

.timelineVertical {
  display: block;
  margin-left: 30px;
  margin-right: auto;
  width: 40px;
  overflow: visible;
  color: var(--timeText);
}

#timelineViewContainer {
  margin-top: 10px;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 50px;
  cursor: crosshair;
}

#timelineView {
  /* overflow-y: hidden; */
}

#innerTimeLineView {
  /* overflow-y: hidden; */
}

.timeView {
  position: absolute;
  height: 20px;
  z-index: 50000;
}

.eventline {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  height: calc(100% - 20px);
}

.eventlineView {
  /* position: absolute;
  height: 100%; */
}


.eventlineView g text {
  display: none;
}

.eventline g text {
  display: none;
}

#eventLabel {
  position: absolute;
  bottom: 40px;
  left: 5px;
  font-size: 12px;
  z-index: 100;
}

#timeLabel {
  position: absolute;
  bottom: 6px;
  left: 5px;
  font-size: 12px;
  color: var(--timeText);
  z-index: 100;
}

#eventText {
  position: sticky;
  background-color: var(--elementBasic);
  height: 30px;
  width: 100px;
  display: none;
  text-align: center;
  line-height: 30px;
  z-index: 100;
}

.pinned {
  background-image: url("./resources/pined.png");
}

.demoGraph g path {
  display: none;
}

.demoGraphVertical g path {
  display: none;
}

.demoGraph g line {
  opacity: 10%;
}

.demoGraphVertical g line {
  opacity: 10%;
}

.timeDot1 {
  display: none;
}

.timeDot2 {
  display: none;
}

.timeDot3 {
  display: none;
}

/*******************************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  width: 60px;
  height: 25px;
  margin-right: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.3s;
  border: solid 1px #424242;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 1px;
  bottom: 1px;
  background-color: #424242;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked+.slider {
  background-color: #424242;
  border: solid 1px #ccc;
}

input:focus+.slider {
  /* box-shadow: 0 0 1px #2196f3; */
}

input:checked+.slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
  background-color: #ccc;
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

#eventContainer {
  margin-top: 60px;
  width: 100%;
  height: auto;
}

.eventDiv {
  height: 120px;
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: var(--elementBasic);
  -webkit-box-shadow: 2px 2px 10px 0px black;
  box-shadow: 2px 2px 10px 0px black;
  display: flex;
  /* margin-top: 20px; */
  gap: 0px;
  pointer-events: auto;
  align-items: center;
  overflow: hidden;
}

.eventSvg {
  margin-top: 50px;
  height: 50%;
  overflow: visible;
  /* margin-top: auto;
  margin-bottom: auto; */
}

.eventSvg path {
  stroke-width: 2;
}

.eventLabel {
  /* width: 100px; */
}

#mainEventLine {
  margin-top: 20px;
  z-index: 20;
  position: relative;
}

g {
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
}

#metadata {
  -webkit-box-shadow: 2px -5px 10px 0px black;
  box-shadow: 2px -5px 10px 0px black;
  width: 30%;
  height: 500px;
  background-color: var(--elementBasic);
  position: fixed;
  right: 5000px;
  top: 40px;
  z-index: 50;
}



#metadataContainer {
  text-align: center;
}

.metatextLabel {
  font-size: small;
  padding-left: 10px;
  /* text-align: left; */
}

.heading {
  /* position: absolute; */
  /* top: 0px; */
  margin-left: 2px;
  line-height: 25px;
  font-size: large;
}

.metatext {
  font-size: small;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  width: 100%;
}

.dropbar3d {
  position: absolute;
  background-color: var(--elementBright-1);
  top: 0px;
  left: 100px;
}

#options3d {
  width: 200px;
}

select {
  background-color: var(--elementBright-2);
  border: none;
  color: var(--font);
}

option {
  border: none;
}

.graphColor {
  -webkit-appearance: none;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  /* background-color: var(--graph1); */
}

.graphColor::-webkit-color-swatch-wrapper {
  padding: 0;
  /* border-radius: 50px; */
}

.graphColor::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.center {
  text-align: center;
  /* width: auto;
  margin-left: auto;
  margin-right: auto; */
}

.sideContent {
  /* height: 100%; */
}

.sideTab {
  background-color: var(--elementBright-1);
  border: none;
  height: 30px;
}

#sideTab1 {
  background-color: var(--elementBasic);
}

.sideTopBar {
  display: flex;
  /* justify-content: center; */
  /* gap: 20px; */
}

#eventList {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  overflow: auto;
  margin-top: 20px;
}

.settingsHeading {
  text-align: center;
  border-bottom: 1px solid var(--font);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#saveEvents {
  border: none;
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 30px;
  background: var(--elementBright-1);
}

#saveGraphs {
  border: none;
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 30px;
  background: var(--elementBright-1);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px 10px 10px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px 10px 10px 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.metaContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  row-gap: 20px;
  padding-bottom: 20px;
  font-size: 100%;
}

.underline {
  text-decoration: underline;
}

.metaNames {
  text-align: end;
}

.metaValues {
  text-align: start;
}

.dropdown {
  /* Border */
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  display: flex;

  /* Reset list styles */
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 5000;
  background-color: var(--elementBright-1);
  border-radius: 10px 10px 10px 10px;
}

.dropdown li {
  /* Spacing /
  padding: 8px;

  /* Used to position the sub dropdown */
  position: relative;
  cursor: pointer;
  /* height: 100%; */
  line-height: 30px;
  background-color: var(--elementBright-1);
}

.dropdown li div {
  height: 100%;
  line-height: 40px;
}

.dropdownli {
  cursor: pointer;
}

.dropdownli:hover {
  color: #00ffff;
}

/* The sub dropdown */
.dropdown ul {
  /* Border */
  border-radius: 10px 10px 10px 10px;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  /* Hidden by default */
  display: none;

  /* Absolute position */
  left: 0;
  position: absolute;
  top: 100%;

  /* Reset styles */
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* Width */
  width: 200px;

}

/* The second level sub dropdown */
.dropdown ul ul {
  left: 100%;
  position: absolute;
  top: 0;
}

/* Change background color of list item when being hovered */
.dropdown li:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: var(--elementBasic);
}

/* Show the direct sub dropdown when hovering the list item */
.dropdown li:hover>ul {
  display: block;
}

.dragSingleId:hover {
  background-color: var(--graph1) !important;
}

#addList {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 60px;
  text-align: left;
  left: 45%;
}

.content {
  /* margin-top: 40px; */
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

#myDiv {
  -webkit-box-shadow: 2px 2px 10px 0px black;
  box-shadow: 2px 2px 10px 0px black;
  /* margin-top: 60px; */
  background-color: var(--elementBasic);
  height: 100%;
  display: none;
}


#dotMenu {
  position: fixed;
  display: none;
  width: 100px;
  z-index: 500;
  border: 1px black;
  border: 1px solid var(--elementBright-3);
}

.dotMenuItem {
  background-color: var(--elementBright-1);
  width: 100px;
  height: 25px;
  border: none;
  color: var(--font);
}

#space {
  cursor: default;
}

#space:hover {
  background-color: var(--elementBasic);
}

#dropzoneAll {
  width: 100%;
  background-color: blue;
  opacity: 0.1;
  position: fixed;
  display: none;
}

.dropzoneLeft {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -10%;
  z-index: 1000;
  opacity: 0.1;
  pointer-events: none;
  /* overflow: hidden; */
}

.dropzoneRight {
  width: 20%;
  height: 100%;
  position: absolute;
  right: -10%;
  top: 0px;
  z-index: 1000;
  opacity: 0.1;
  pointer-events: none;
}

/* #dropzoneHighlightRight {
  width: 50px;
  background-color: blue;
  opacity: 0.1;
  position: fixed;
  right: 0px;
  display: none;
  z-index: 101;
  pointer-events: none;
} */

.ui-state-highlight {
  background-color: blue;
}

#graphContainerAll {
  /* width: auto; */
  display: grid;
  gap: 10px;
  overflow: hidden;
  background-color: var(--elementBasic);
  /* align-content: start; */
  /* align-items: start; */
}

.textInputGraphContainer {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: var(--elementBright-1);
  color: var(--inputText);
  text-align: center;
  border: none;
  padding: 1px 0px 1px 0px;
}

#startDeleteContainer {
  display: none;
}

#allGraphs {}

#timelineText {
  position: absolute;
  text-align: center;
  top: 3px;
  left: 90px;
  width: 70px;
  /* background-color: red; */
  pointer-events: none;
}

.deleteContainer {
  cursor: pointer;
  border-radius: 50%;
  /* background-color: red; */
  /* z-index: 100; */
  /* user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none; */
  width: 25px;
  height: 25px;
  top: 5px;
  right: 5px;
  position: absolute;
  background-image: url("./resources/close.png");
  /* background-size: 100%; */
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.dropzone {
  top: -40px;
}

#gridAll {
  background: var(--background);
  /* margin-top: 50px; */
}



.grid-stack-item-content {
  border-radius: 10px;
  background-color: var(--elementBasic);
  -webkit-box-shadow: 0px 0px 3px 0px black;
  box-shadow: 0px 0px 3px 0px black;
  /* height: 100%; */
}

.dragBar {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding-right: 2px;
  height: 25px;
  background-color: var(--elementBright-2);
  position: sticky;
  z-index: 50;
  top: 0%;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: grab;
}

#sidebarLeftDrag {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.iconDrag {
  position: absolute;
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-color: #00ffff;
}

#sidebar {
  background-color: var(--elementBasic);
  overflow: hidden;
}

.menuButtonContainer {
  display: flex;
  align-items: stretch;

}

.Graph2d {
  background-image: var(--icon2d);
  width: 100%;
  /* background-size: 100%; */
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.Graph3d {
  background-image: var(--icon3d);
  width: 100%;
  /* background-size: 100%; */
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.iconGraph {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--elementBright-1);
  cursor: pointer;
}

.iconActivated {
  background-color: var(--elementBasic);
}

.iconGraph:hover {
  background-color: var(--elementBright-2);
}

.iconMeta {
  background-image: var(--inspector);
  width: 100%;
  /* background-size: 100%; */
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.eventsSettings {
  background-image: var(--overview);
  width: 100%;
  /* background-size: 100%; */
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.videoFrame {
  background-image: var(--video);
  width: 100%;
  /* background-size: 100%; */
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.iconEventView {
  background-image: url("./resources/events.png");
  width: 100%;
  /* background-size: 100%; */
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.iconTimeline {
  background-image: var(--icontimeline);
  width: 100%;
  /* background-size: 100%; */
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.graphController {
  background-image: url("./resources/graphsettings.png");
  width: 100%;
  /* background-size: 100%; */
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.closeWidgetButton {
  /* position: absolute;
  right: 5px;
  top: 0px; */
  height: 100%;
  width: 20px;
  background-color: var(--elementBright-2);
  /* border-radius: 50%; */
  background-image: var(--close);
  background-size: auto 70%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.closeWidgetButton:hover {
  background-color: red;
}

.lockWidgetButton {
  /* position: absolute;
  top: 0px;
  right: 25px; */
  height: 100%;
  width: 20px;
  background-color: var(--elementBright-2);
  /* border-radius: 50%; */
  background-image: var(--gridLockOpen);
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.lockWidgetButton:hover {
  background-color: var(--elementBright-3);
}

.locked {
  background-image: var(--gridLockClose);

}

.lockedDragbar {
  cursor: no-drop;
}

.gridItemPageLock {
  position: fixed;
  top: 50px;
  z-index: 100000;
}

.pageLock {
  /* position: absolute;
  top: 0px;
  right: 50px; */
  height: 100%;
  width: 20px;
  background-color: var(--elementBright-2);
  background-image: var(--page_unlock);
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.pageLock:hover {
  background-color: var(--elementBright-3);
}

.pageUnlock {
  background-image: var(--pageLocked);
}

#itemContent3d {
  height: 100%;
  overflow: hidden;
}

#setup {
  position: absolute;

  min-height: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--elementBasic);
  /* z-index: 1000000; */
  overflow-y: scroll;
  border-radius: 10px;

}

#gridLayoutContainer {
  /* margin-left: 50px; */
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.gridLayout {
  display: block;
  margin-top: 50px;

  width: 800px;
  height: 400px;
  background-color: var(--elementBright-1);
  cursor: pointer;
  border-radius: 3px;
}

#addCustomGridLayout {
  margin: 0 auto;
  display: block;
  height: 50px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}



#buttonSetupGrid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

#customGrid {
  margin: 0 auto;
  display: block;
  width: 1000px;
  height: auto;
  background-color: var(--elementBright-2);
  border-radius: 3px;
}

.cloneColor {
  background-color: var(--elementBright-3);
}

.selectedGraphLayout {
  background-color: var(--highlightBlue);
}

.deleteGrid {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 0px;
  background-image: url("./resources/close.png");
  /* background-size: 100%; */
  background-size: auto 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 3px;
}

.deleteGrid:hover {
  background-color: var(--highlightRed);
}

.clones {
  position: relative;
}

.customgridtext {
  display: none;
  text-align: center;
  position: absolute;
  line-height: 50px;
  width: auto;
  height: 20px;
  top: 0px;
  left: 0px;
  background-color: var(--background);
  border: none;
  color: var(--inputText);
}

.setupcustomgridtext {
  text-align: center;
  /* position: absolute; */
  line-height: 50px;
  width: auto;
  height: 20px;
  top: -30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background);
  border: none;
  margin-bottom: 20px;
  color: var(--inputText);
}

.gridtext {
  text-align: center;
  position: absolute;
  line-height: 50px;
  width: auto;
  height: 50px;
  top: 0px;
  left: 0px;
}

.hidden {
  display: none;
}

#openCustomGridLayout {
  grid-column-start: 2;
  margin: 0 auto;
  display: block;
  height: 50px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

#applyCustomGridLayout {
  margin-top: 50px;
  height: 50px;
  width: 50px;
}



#CustomGridLayout {}

.widgetIcon {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.iconCustom2d {
  background-image: var(--icon2d)
}

.iconCustom3d {
  background-image: var(--icon3d);
}

.iconCustomMeta {
  background-image: var(--inspector)
}

.iconCustomSettings {
  background-image: var(--overview);
}

.iconCustomVideo {
  background-image: var(--video);
}

.iconCustomEventline {
  background-image: url("./resources/events.png");
}

.iconCustomTimeline {
  background-image: var(--icontimeline);
}

.iconCustomWidgets {
  background-image: url("./resources/widgets.png");
}


#changeTime {
  position: absolute;
  left: 160px;
  top: 5px;
  margin-bottom: auto;
  background-image: var(--changetime);
}

#webGlContentDiv {
  width: 100%;
  height: 100%;
}

#widgetBar {
  width: 700px;
  height: 100%;
  /* background-color: var(--elementBright-1); */
  justify-self: center;
}

.highlightIcons {
  border-bottom: 1px solid #f1f1f1;

}



.setupButton {
  color: var(--font);
  border: none;
  background-color: var(--elementBright-2);
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1px 0px black;
  box-shadow: 0px 0px 1px 0px black;
}

.setupButton:hover {
  background-color: var(--elementBright-3);
}

.setupButton:active {
  background-color: var(--elementBright-2);
  ;
  /* box-shadow: 0 5px #666; */
  /* transform: translateY(1px); */
}

.eventItem {
  display: flex;
  margin-left: 7.5%;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
}


[type="checkbox"] {
  position: relative;
  left: 5px;
  bottom: 0px;
  z-index: 0;
  -webkit-appearance: none;
}

[type="checkbox"]+label {
  position: absolute;
}

[type="checkbox"]::before {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  background-color: var(--elementBright-2);
  border: 1px solid var(--highlightBlue);
  display: block;
  content: "";
  float: left;
  z-index: 5;
  position: relative;
}

[type="checkbox"]:checked::before {
  box-shadow: inset 0px 0px 0px 3px var(--elementBright-2);
  background-color: var(--highlightBlue);
  border-radius: 4px;
}


#switches {
  justify-self: end;
  display: flex;
  align-items: center;
}

#setupPopUp {
  position: absolute;
  display: none;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 80%;
  border: 2px solid green;
  border-radius: 10px;
  z-index: 1000000000000000000;
}

#minimizeEventContainer {
  position: absolute;
  width: 100%;
  height: 55%;
}

#handleUnityActions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 25px;
  gap: 40px
}

#handleTimeUnity {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#handleCamsUnity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}





.playUnity {
  background-image: var(--play);
}

.pauseUnity {
  background-image: var(--pause);
}

#fastforwardUnity {
  background-image: var(--fastforward);
}

#nextFrameUnity {
  background-image: var(--next);
}

#lastFrameUnity {
  background-image: var(--previous);
}

#lastCamUnity {
  background-image: var(--previousCam);
}

#currentCamUnityText {
  width: auto;
  height: 20px;
  cursor: auto;
  width: 130px;
  text-align: center;
}

#nextCamUnity {
  background-image: var(--nextCam);
}

#sliceCar {
  background-image: var(--sliceCar);
}

.singleGridItemContent {
  width: 100%;
  height: 100%;
}

#optionsMeta {
  max-width: 100px;
}

.listObjectItem {
  cursor: pointer;
}

.listObjectType {
  cursor: pointer;
}

#particepentSelection {
  display: flex;
  flex-direction: column;
}

.participant {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 10px;
}

#showOutlierContainer {
  /* position: absolute; */
  right: 5px;
  top: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-left: 7.5%;
  gap: 10px;
}

/* #showOutlierlabel {
  margin-top: 5px;
} */


.mainParticipant {
  border: 1px solid white;
}


#outlierColor {
  width: 15px;
  height: 15px;
  /* margin-right: 5px; */
  background-color: yellow;
  float: left;
}

#showMeanContainer {
  /* position: absolute; */
  right: 200px;
  top: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-left: 7.5%;
  gap: 10px;
}

/* #showMeanlabel {
  margin-top: 5px;
} */

#meanColor {
  width: 15px;
  height: 15px;
  /* margin-right: 5px; */
  background-color: red;
  float: left;
}


.circle {
  background-image: var(--circle);
}

.heart {
  background-image: var(--heart);
}

.triangle {
  background-image: var(--triangle);
}

.star {
  background-image: var(--star);
}

.rhomb {
  background-image: var(--rhomb);
}

.pentagon {
  background-image: var(--pentagon);
}

.eventIcon {
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-right: 20px; */
}

#darkModeIcon {
  margin-top: 2px;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--darkmodeicon);
}

#graphContainer_0 {
  /* margin-top: 15px; */
}

#participantsDropdown {
  margin-right: 10px;
}

#participantText {
  width: 200px;
}

.participantOption {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.participantName {
  width: 100px;
}

.participantIcon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-image: var(--participant);
}

#participantIcons {
  display: flex;
  gap: 5px;
  margin-right: 5px;
}

.dragbarHeadingContainer {
  display: flex;
  align-items: center;
  margin-left: 2px;
  gap: 2px;
}

#DragbarIcon2d {
  background-image: var(--icon2d);
}

#DragbarIcon3d {
  background-image: var(--icon3d);
}

#inspectorDragbarIcon {
  background-image: var(--participant);
}

#overviewDragbarIcon {
  background-image: var(--overview);
}

#timelineDragbarIcon {
  background-image: var(--icontimeline);
}

#videoDragbarIcon {
  background-image: var(--video);
}

.border {
  border-radius: 10px;
}

#addCustomEvent {
  background-image: var(--plus);
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  left: 25%;
  top: 5px;
}

#removeCustomEvent {
  background-image: var(--minus);
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  left: calc(25% + 30px);
  top: 5px;
}

#inputForCustomEvents {
  display: none;
  background-color: var(--elementBright-1);
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 250px);
  width: 500px;
  height: 100px;
  z-index: 1000000000;
}

#customEventText {
  position: absolute;
  left: 30%;
  top: 20%;
}

#addEvent {
  position: absolute;
  left: 35%;
  top: 60%;
}

#closeAddEvent {
  /* position: absolute;
  right: 5px;
  top: 0px; */
  position: absolute;
  height: 20px;
  width: 20px;
  right: 0px;
  background-color: var(--elementBright-2);
  /* border-radius: 50%; */
  background-image: var(--close);
  background-size: auto 70%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

#closeAddEvent:hover {
  background-color: red;
}

.customEventListing {
  background-image: var(--annotation);
}

#addEvent {
  background-color: var(--elementBright-3);
  cursor: pointer;
}

#heatmapList {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  overflow: auto;
  margin-top: 20px;
  margin-left: 7.5%;
}

.heatmapItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

#trajectorylist {
  margin-left: 7.5%;
}

#participantSelection {
  margin-left: 7.5%;
}

#videoFrame {
  width: calc(100% - 4px);
  height: auto;
  border: 2px solid;
  border-color: #00ffff;
}

.crownIcon {
  width: 15px;
  height: 15px !important;
  background-image: var(--crown);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.crownSelected {
  background-image: var(--crownSelected);
}

#audioEventsLine {
  color: var(--audioColor);
}

iframe {
  border: none;
}

#topBarLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

#devText {
  font-style: italic;
}

#timelineZoomButtons {
  position: absolute;
  left: 160px;
  top: 3px;
}

#loadingSpinner {
  width: 200px;
  height: 200px;
  position: fixed;
  z-index: 5000000000;
  background-color: var(--elementBright-2);
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  display: none;
}

#warningPopUp {
  width: 250px;
  height: 50px;
  position: fixed;
  z-index: 5000000000;
  background-color: var(--elementBright-2);
  left: calc(50% - 125px);
  top: calc(50% - 25px);
  display: none;
  text-align: center;
  line-height: 50px;
  ;
  color: red;
}