<div id="graphContainerVertical"></div>
<div id="graphContainerFixed" style="grid-template-columns: 1fr"></div>
<div id="eventlineContainerVertical"></div>
<!-- <div id="eventLabel">Annotations</div> -->
<div id="timelineContainerVertical"></div>
<!-- <div id="timeLabel">Time</div> -->
<div id="eventText"></div>